<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg">
        <span class="logo-text h1 ">Manejo de servicios > Lista de servicios</span>
    </div>
    <div class="center listContainer">        
        <div class="listItem" *ngFor="let item of clean">
            <div class="image">
                <img src={{item.picture}}  />
            </div>
            <div class="info">
                <h2>{{item.name | titlecase}}</h2>
                <p>{{item.description}}</p>
            </div>
            <div class="services">
                

                
            </div>
            <div class="actions">
                <button mat-raised-button type="button" color="accent" (click)='edit(item.id)'>Editar</button>                                
                <button mat-raised-button type="button" color="warn" (click)='deleteConfirm(item.id,"services")'>Borrar</button>
            </div>            
        </div>

        <div class="filler" >
            
        </div>
    </div>
</div>