:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}



.content-card{
    margin: 2.5em 0 0 0;
}

.logo-text{
    color: #FFF !important;
    border-bottom: 1px solid;
    margin: 2em 0 0 1.5em;
    float: left;
}

.listItem{
    background: white;
    border-radius: .3em;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin: 0em 2.5em 2.5em 2.5em;
    width: 100%;
    display: flex;
    border: 1px solid #dfac6a;
    height: max-content;
    padding: 2em 2em 0 2em;
}

.page-layout.carded.fullwidth > .center{
    overflow-x: hidden;
    overflow-y: hidden;

}

.pictureHolder{
    width: 100%;
    display: flex;
    height: max-content;
    margin: 0 0 0 1.5em;
}
.infoHolder{
    width: 90%;
    height: max-content;
}

.buttonHolder{
    width: 100%;
    text-align: end;
    padding: 0 0 3em 0;
    margin: 0 4em 0 0;
}

.buttonHolder button{
    margin: 0 0 0 1.35em;
}

.formItem{
    width: 100%;
    padding: 0 1.5em 1em;
}

.formTitle{
    width: 100%;
    margin: 0 0 2em 0;
}

.formPanel{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.formElement{
    width: 100%;
}

.pictureHolder img{
    width: 10em;
    padding: 2em;
    height: 10em;
    border: 1px solid #dfac6a;
    border-radius: .3em .3em 0 0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#filePicker{
    display: none;
}



#filePickerButton{
	background-color: #dfac6a;
	border: none;
	color: white;
	padding: 1eem;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
    width: 10em;
    display: block;
    border-radius: 0 0 .3em .3em;
    margin: 0 0 0 1.5em;
}


.auxHolder{
    width: 100%;
}


.picturePanel{
    width: 10%;
  
}

.inputPanel{
    width: 85%;
    margin: 0 auto;
}

textarea.mat-input-element{
    height: 10em !important;
    margin-bottom: 15em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #dfac6a !important;
    border-radius: 5px;
}





