<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg">
        <span class="logo-text h1 ">Manejo de servicios > Agregar categoría</span>
    </div>
    <div class="center listContainer">
        <div class="listItem" >
            <form (ngSubmit)="onSubmit()" class="formPanel"  name="form" [formGroup]="addCategoryForm">
                <div class="h2 formTitle">Categoría:</div>

                <div class="picturePanel">
                    <div class="pictureHolder">
                        <img src={{picture}} />
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                            [style.width]="(uploadPercent | async)" ></div>
                        </div>
                    </div>      
                    <div class="auxHolder">
                        <label id="filePickerButton" for="filePicker">Cambiar</label>
                        <input id="filePicker" type="file" accept=".png, .jpg" (change)="onUpload($event)" >
                        <input type="text" [value]="urlImage | async" #imagesService style="opacity: 0;">                        
                    </div>
                </div>
                <div class="inputPanel">

                    <div class="formItem" >
                        <mat-form-field class="formElement" appearance="outline" color="#dfac6a" >
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" [formControl]="categoryName" formControlName="categoryName"   value={{[name]}} required>
                        </mat-form-field>
                    </div>
                    <div class="formItem" >
                        <mat-form-field class="formElement inputTextArea" appearance="outline" >
                            <mat-label>Descripción</mat-label>
                            <textarea matInput [formControl]="categoryDescription" formControlName="categoryDescription" value={{description}} required></textarea>
                        </mat-form-field>
                    </div>              
                </div>      
                    
                    <div class="buttonHolder">

                        <!-- <button mat-raised-button matStepperNext type="button" color="accent">Agregar</button> -->
                        <!-- <button *ngIf="urlImage | async; else btnDisabled" (click)="onSubmit()" [disabled]="categoryName.invalid || categoryDescription.invalid" type="button" mat-raised-button color="accent">Agregar</button> -->

                        <button  (click)="onBack()"  type="button" mat-raised-button color="warn">Atras</button>
                        
                        <button  (click)="onSubmit()"  type="button" mat-raised-button color="accent">Agregar</button>
                        


                        <!-- <ng-template #btnDisabled>
                            <button (click)="onSubmit()" [disabled]="true" type="button" mat-raised-button color="accent" disabled="true" >Agregar</button>
                        </ng-template> -->
                    </div>
                    
            </form>
        </div>
    </div>