form{
    width: 100%;
    display: contents;
}
table{
    width: 100%;  
    border-collapse: collapse;  
}
table tr{
   
}

table tr td{
    text-align: left !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 1em 2em;
}

table tr th{
    text-align: left !important;
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    
}

table tr th .centerTxt{
    text-align: left;
}
td.centerTable button{
    margin: 0 1em !important;
    

}

.content-card{
    margin: 2.5em 0 0 0;
}

.logo-text{
    color: #FFF !important;
    border-bottom: 1px solid;
    margin: 2em 0 0 1.5em;
    float: left;
}


.listItem{
    background: white;
    border-radius: .3em;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin: 0em 2.5em 2.5em 2.5em;
    width: 44%;
    display: flex;
    border: 1px solid #dfac6a;
    height: max-content;
}

.listItem .image{
    border-right: 3px double #dfac6a;
    width: 20%;
    display: flex;
}

.listItem .info{
    border-right: 3px double #dfac6a;
    padding: 0 1em;
    width: 65%;
}

.listItem .actions{
    justify-content: flex-end;
    padding: .5em 1em .5em 1em;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}

.listItem .actions button{
    margin: 0.5em auto;
    width: 100%;
}

.listItem .image img{
    padding: 2em;
    width: 8em;
    height: 8em;
    
    margin: 0 auto;
}