<h2 mat-dialog-title>¿Desea eliminar <span *ngIf="category">esta categoria</span><span *ngIf="service">este servicio</span>?</h2>
<div>
    <p>Al borrar este contenido, esta alterando la aplicación</p>
</div>
<div>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button (click)="callDelete()">Aceptar</button>
</div>